*{
    box-sizing:border-box;
  }
  body{
    font-family: 'Roboto', sans-serif;
    background-image:url(images/patt.png);
  }
  .container{
    width: 1200px;
    margin:0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .row{
    margin-left: -15px;
    margin-right: -15px;
  }
  .row:after,.menu:after{
  clear: both;
  display:block;
  content:"";
  }
  [class*="col-"]{
    float:left; 
    padding-left:15px;
    padding-right: 15px;
  }
  .col-md-3{
    width: 25%;
  }
.col-md-6{
    width:50%;
  }

  .header{
    background-color:rgba(255,255,255,0.75) ;
    padding:25px 0;
  }
  .menu li {
    width: 25%;
    float: left;
    border-left:1px solid #2c71b8 ;
    position: relative;
    list-style: none;
  }
  .menu li:last-child{
  border-right: 1px solid #2c71b8 ;  
  }
  .logo{
    margin-top: 7px;
  }
  .menu a{
    display: block;
    height: 50px;
    text-decoration: none;
    color:#2c71b8;
    text-align: center;
    line-height: 50px;
    font-size: 21px;
  }
  .menu a:hover{
    background-color: #2c71b8;
    color:white;
  }
  .search {
    position: relative;
    width: 200px;
    height: 41px;
    border: 1px solid #2c71b8;
    border-radius:2px;
    margin: 0 auto;
  }
  input, button {
    border: none;
    outline: none;
    border-radius:2px;
  }
  input {
    width: 100%;
    height: 40px;
    background:none;
    padding-left: 20px;
    font-size: 21px;
    color: #2c71b8;
    font-weight: 300;
    font-family: "Roboto";
  }
  button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background-color: #2c71b8;
    cursor: pointer;
  }
  button:before {
    color: #2c71b8;
    font-size: 21px;
    line-height: 40px;
    font-weight: 700;
    font-family: "Roboto";
  }
  input::-webkit-input-placeholder {
    color: #2c71b8;
  }
  .basket{
    width:40px;
    height:40px; 
    background-color: white;
    text-align: center; 
    border-radius: 2px;
    line-height: 50px;
    float: right;
    margin-right: -70px;
    margin-top: -40px;
  }
  .num{
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
    border-radius:20px ;
    top:-16px;
    left:210px;
}
  .dropdown {
    float: left;
    overflow: hidden;
   }
  .menu :hover a {
    background-color: #2c71b8;
    color:white;
    text-align:left;
    padding-left:15px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2c71b8;
    margin-left:-1px;
    z-index: 1;
   }
  .dropdown-content a:hover {
    background-color: white;
    color:#2c71b8;
    width: 286px; 
    font-size: 21px;
    line-height: 40px;
    font-weight: 300;
    font-family: "Roboto";
  }
  .menu li:hover .dropdown-content {
    display: block;
    width:286px;
  }
  .empty{
  width:1400px;
  height: 400px;
  background-color: black;
  opacity: 0.2;
  }
  .slide{
  font-size: 100px;
  letter-spacing: 10px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 250;
  font-family: "Roboto";
  text-align: center;
  margin-top:-263px;
  }
  .slide i{
    vertical-align: 23px;
    width: 26px;
    height: 49px;
    border-radius: 24px;
  }
.main{
    margin-top: 235px;
  }
 a{
    text-decoration:none;
  }
  .home {
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Roboto";
    text-decoration: none ;
    opacity: 0.5;
  }
  .home a{
    color:white;
  }
  .lt{
    padding:33px 0 35px 0;
    font-size: 48px;
    line-height: 40px;
    color: white;
    font-weight: 700;
    font-family: "Roboto";
    
 }
 .product{
    border:1px solid white;
    background-color: none;
    width:270px;
    height:650px;
    color:white;
    position: relative;
    
  }

  .details{
    width: 210px;
    height: 51px;
    background-color: #2c71b8;
    border: 1px solid #ffffff;
    font-size: 21px;
    line-height: 40px;
    color: green;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    margin-top:500px;
    margin-right: 25px;
  }
  .details a{
    color:white;
 }
 .details:hover{
  background-color: rgba(255,255,255,0.2);
  color:white;
  border: none;
 }
 .cart:hover{
  background-color: rgba(255,255,255,0.2);
  color:white;
  border: none;
 }
  .cart a{
    color:white;
 }
  .cart img{
    padding-left: 5px;
 }
  .cart{
    margin-right: 25px;
    margin-top: 565px;
    width: 210px;
    height: 51px;
    background-color: #2c71b8;
    border: 1px solid #ffffff;
    font-size: 21px;
    line-height: 40px;
    color:white;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
  }
  .product-img{
    width: 270px;
    height: 180px;
    background-color: rgba(255,255,255,0.75);
    border: 1px solid #ffffff;
    text-align: center;
    position: relative;
    padding-top:40px ;
  }
  .like {
    color:black;
    position: absolute;
    border: #2c71b8 1px solid;
    background-image: url(images/fav.png);
    width: 30px;
    height: 30px;
    margin: -70px 10px 0 230px;
    background-repeat: no-repeat;
    background-position: center;
  }
    .like:hover{
      background-image: url(images/fav2.png);
      background-color: #2c71b8;
    }
    .zoom {
      position: absolute;
      border: #2c71b8 1px solid;
      background-image: url(images/sqr.png);
      width: 30px;
      height: 30px;
      margin: -115px 10px 0 230px;
      background-repeat: no-repeat;
      background-position: center;} 
      .zoom:hover{
     background-image: url(images/sqr2.png);
    background-color: #2c71b8;
      }
  .price{
   font-size: 48px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto";
  text-align: center;
 
  }
  .text{
  font-size: 21px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
  padding-left: 15px;
  padding-bottom:15px;
  line-height: 1.1;
  letter-spacing:1.3;
  }
  .sup {
    vertical-align: super;
    font-size: 24px;
    }
  .title{
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Roboto";
  padding-top:15px;
  margin-bottom: 20px;
  padding-left: 15px;
  }
 .word:first-child{
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
 }
 .sort{
    width: 270px;
    height: 40px;
    font-size: 21px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Roboto";
    border:1px solid white;
    border-radius: 2px;
    text-align: center;
    margin-top:30px;
    margin-left: 10px;
    

  }
  .sort > a{
    text-decoration: none;
    color:white;
  }

 .footer{
    margin-top: 2835px;
  }
